.header-button 
{
	height: 30px;
	/*line-height: 40px;*/
	width: 100px;
	text-align: center;
	border-radius: 7px;
	border: 1px solid rgb(0, 0, 0);

	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-top: 5px;

	float: right;
}

.header-button : hover
{
	color: blue;
}