
/* Prevent the text contents of draggable elements from being selectable. */
[command] 
{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.selected 
{
  border-style: dashed !important;
}

.command
{
  border: 1px solid #666666;
  height: 150px;
  width: 150px;
  box-shadow: 10px 10px 10px #888888;
  background-color: #ccc;
  border-radius: 10px;
  text-align: center;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  cursor: move;
  float: left;
}

#add
{
  border: 1px solid #666666;
  height: 150px;
  width: 150px;
  box-shadow: 10px 10px 10px #888888;
  background-color: #ccc;
  border-radius: 10px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  cursor: move;
  display: inline-block;
  float: left;
}

.command input {
  width: 80%;
}

.command .title {
  font-weight: bold;
  margin-bottom: 3px;
  display: block;
}
.command .input-text {
  font-size: 14px;
}

#trash {
  font-weight: bold;
  text-align: center;
  height: 150px;
  width: 150px;
  float: left;
  background: url(http://icons.iconarchive.com/icons/iconshock/vista-general/128/trash-icon.png) no-repeat 50% 50%;
  margin-right: 5px;
  border: 1px solid #666666;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 5px;
  box-shadow: 10px 10px 10px #888888;
}

.global-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background: rgba(0,0,0,.6);
  z-index: 100;
}

.global-header .title {
  float: left;
  margin-left: 50px;
  line-height: 30px;
  margin-top: 5px;
  font-weight: bold;
  color: #ffffff;
}

/*.global-header .header-button{
  height: 100%;
  float: right;
  margin-right: 10px;
  background: rgba(255,255,255,.8);
  margin-top: 5px;
  /*padding: 0 5px 0 5px;*/
  font-weight: bold;
  cursor: pointer;
}*/

.dragging
{
  opacity: .4;
}

.config-bar {
  float: left;
  width: 100%;
  margin-bottom: 5px;
}

.content {
  margin-top: 40px;
  padding-top: 10px;
  width: 100%;
}

.panel-left {
  float: left;
  width: 30%;
  margin-right: 15px;
}

.toolbox {
  padding: 5px 5px 0 5px;
  float: left;
  /*border: solid 2px;*/
  /*border-radius: 6px;*/
  width: 100%;
}

.panel-right {
  display: inline-block;
  float: right;
  width: 65%;
  /*border: solid 2px;*/
  /*border-radius: 6px;*/
}

#workbench {
  float: left;
  min-height: 400px;
  width: 100%;
  /*background: #DFDFDF;*/
}

.program-window {
  float: left;
  width: 100%;
  text-align: left;
  /*border: solid 2px;*/
  /*border-radius: 6px;*/
  margin-top: 5px;
  padding: 5px;
}

#workbench .command {
	padding-bottom: -50px;
}
