body.annotary-highlight-mode ::selection {
background:#ffffa5 !important;
color:#000000 !important;
}

body.annotary-highlight-mode ::-moz-selection {
background:#ffffa5 !important;
color:#000000 !important;
}

#annotary-note ::selection {
background:#b2d0fb !important;
}

#annotary-note ::-moz-selection {
background:#b2d0fb !important;
}

.annotary-highlight {
background:#ffffa5 !important;
color:#000000 !important;
position:relative !important;
}

.annotary-highlight-clickable {
cursor:pointer !important;
}

a > .annotary-highlight {
color:#0000cc !important;
}

#annotary-toolbar *,
#annotary-modal * {
float:none;
font:14px normal Helvetica, Arial, sans-serif;
text-align:left;
margin:0;
padding:0;
width:auto;
height:auto;
min-height:0;
max-height:none;
border:none;
vertical-align:baseline;
background:transparent;
line-height:1.3em;
color:#444444;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
-webkit-border-radius:0;
-moz-border-radius:0;
box-sizing:content-box;
-moz-box-sizing:content-box;
-webkit-box-sizing:content-box;
border-radius:0;
cursor:auto;
}

#annotary-toolbar {
position:fixed;
z-index:2147483644;
top:20px;
right:20px;
width:auto;
height:auto;
text-align:left;
}

#annotary-toolbar a,
#annotary-modal a {
cursor:pointer !important;
text-decoration:none !important;
}
#annotary-toolbar a:hover,
#annotary-modal a:hover {
text-decoration:none !important;
}

#annotary-toolbar b {
font-weight:bold;
}

#annotary-toolbar #annotary-toolbar-main {
border:1px solid #333;
}

#annotary-toolbar #annotary-toolbar-bg {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
z-index:-1;
background:#333;
opacity:0.8;
-webkit-box-shadow:3px 3px 5px 0px rgba(0, 0, 0, 0.3);
-moz-box-shadow:3px 3px 5px 0px rgba(0, 0, 0, 0.3);
box-shadow:3px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

#annotary-toolbar #annotary-toolbar-form {
position:absolute;
z-index:-1;
top:19px;
right:60px;
width:265px;
padding:12px 12px 20px 12px;
background:#eeeeee;
border:1px solid #333333;
-webkit-box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.3);
-moz-box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.3);
box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.3);
color:#444444;
font:14px Helvetica,Arial,sans-serif;
}

#annotary-toolbar #annotary-toolbar-form label {
display:block;
margin:16px 0 8px;
font-weight:bold;
font-size:14px;
}

#annotary-toolbar #annotary-toolbar-form label .annotary-hint {
float:right;
font-weight:normal;
font-size:12px;
color:#999;
margin-top:3px;
}

#annotary-toolbar #annotary-toolbar-form input,
#annotary-toolbar #annotary-toolbar-form textarea,
#annotary-toolbar #annotary-toolbar-form div.annotary-rich-editor {
border:1px solid #888;
background:#ffffff;
padding:5px;
margin:0;
width:253px;
font:14px normal Helvetica,Arial,sans-serif;
color:#444444;
box-shadow:inset 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
box-sizing:content-box;
-moz-box-sizing:content-box;
-webkit-box-sizing:content-box;
}

#annotary-toolbar #annotary-toolbar-form textarea,
#annotary-toolbar #annotary-toolbar-form div.annotary-rich-editor {
height:56px;
resize:vertical;
}

#annotary-note div.annotary-rich-editor,
#annotary-toolbar #annotary-toolbar-form div.annotary-rich-editor {
overflow-y:auto;
}

#annotary-note div.annotary-rich-editor a,
#annotary-toolbar #annotary-toolbar-form div.annotary-rich-editor a {
font-weight:bold;
color:#2162B4 !important;
text-decoration:none !important;
}
#annotary-note div.annotary-rich-editor a:hover,
#annotary-toolbar #annotary-toolbar-form div.annotary-rich-editor a:hover {
text-decoration:underline !important;
}

#annotary-toolbar #annotary-toolbar-form-message {
margin-bottom:10px;
padding:10px;
background:#ffffa5;
text-align:center;
}

#annotary-toolbar #annotary-toolbar-form-title {
font-weight:bold;
padding-bottom:5px;
font-size:16px;
}

#annotary-toolbar #annotary-toolbar-form-details {
text-decoration:none;
color:#2162B4;
display:block;
margin-bottom:20px;
}
#annotary-toolbar #annotary-toolbar-form-details:hover {
text-decoration:underline !important;
color:#2162B4 !important;
}

#annotary-toolbar #annotary-form-collection-error {
color:#C31C1C;
font-weight:bold;
}

#annotary-toolbar .annotary-collection {
margin:5px 0 20px 0;
padding:3px 30px 3px 25px;
background:#ffffff;
cursor:pointer;
width:208px;
border:1px solid #888;
position:relative;
}

#annotary-toolbar .annotary-collection-expanded {
margin:0 0 20px 0;
display:none;
background:#ffffff;
width:263px;
border:1px solid #888;
}

#annotary-toolbar .annotary-collection-options {
max-height:142px;
overflow:auto;
}

#annotary-toolbar .annotary-collection-options .annotary-option {
padding:3px 10px 3px 25px;
cursor:pointer;
border-bottom:1px solid #888;
position:relative;
}

#annotary-toolbar .annotary-collection-options .annotary-option:hover {
background:#ddd;
}

#annotary-toolbar .annotary-collection-options .annotary-create-link {
text-align:center;
padding:10px;
}

#annotary-toolbar .annotary-option-private {
background:#ffd;
}

#annotary-toolbar .annotary-option-title {
overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis;
cursor:pointer;
}

#annotary-toolbar .annotary-option-owner {
font-size:10px;
color:#999;
cursor:pointer;
}

#annotary-toolbar .annotary-collection .annotary-icon-dropdown {
position:absolute;
top:14px;
right:8px;
}

#annotary-toolbar .annotary-collection.annotary-option-no-owner .annotary-icon-dropdown {
top:8px;
}

#annotary-toolbar .annotary-icon-public {
position:absolute;
top:13px;
left:5px;
}

#annotary-toolbar .annotary-option-no-owner .annotary-icon-public {
top:7px;
}

#annotary-toolbar .annotary-icon-private {
position:absolute;
top:11px;
left:7px;
}

#annotary-toolbar .annotary-option-no-owner .annotary-icon-private {
top:5px;
}

#annotary-toolbar .annotary-icon-organization {
position:absolute;
top:11px;
left:6px;
}

#annotary-toolbar .annotary-option-no-owner .annotary-icon-organization {
top:5px;
}

#annotary-toolbar .annotary-collection-create {
border-bottom:1px solid #888;
padding:7px;
position:relative;
}

#annotary-toolbar #annotary-toolbar-form .annotary-collection-create input {
width:100%;
padding:5px 5px 5px 25px;
color:#cccccc;
font-weight:bold;
border:1px solid #888;
font-size:14px;
margin:0;
background:no-repeat 7px 7px;
box-shadow:inset 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
}

#annotary-toolbar a.annotary-button-round {
text-align:center;
cursor:pointer;
display:inline-block;
font-weight:bold;
line-height:18px;
color:#ffffff;
padding:5px 10px 5px 7px;
border:1px solid #2b671d;
border-radius:5px;
background: #59a148; /* Old browsers */
background: -moz-linear-gradient(top,  #59a148 0%, #4e8f3f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#59a148), color-stop(100%,#4e8f3f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #59a148 0%,#4e8f3f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #59a148 0%,#4e8f3f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #59a148 0%,#4e8f3f 100%); /* IE10+ */
background: linear-gradient(top,  #59a148 0%,#4e8f3f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59a148', endColorstr='#4e8f3f',GradientType=0 ); /* IE6-9 */
}
#annotary-toolbar a.annotary-button-round:hover {
background: #59a148; /* Old browsers */
background: -moz-linear-gradient(top,  #59a148 0%, #34891f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#59a148), color-stop(100%,#34891f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #59a148 0%,#34891f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #59a148 0%,#34891f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #59a148 0%,#34891f 100%); /* IE10+ */
background: linear-gradient(top,  #59a148 0%,#34891f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59a148', endColorstr='#34891f',GradientType=0 ); /* IE6-9 */
}

#annotary-toolbar a.annotary-button-round img {
cursor:pointer;
margin-right:5px;
position:relative;
top:1px;
}

#annotary-toolbar a.annotary-button-round span {
cursor:pointer;
color:#ffffff;
font-weight:bold;
}

#annotary-toolbar .annotary-button,
#annotary-modal .annotary-button {
float:left;
color:#ffffff;
font-size:14px;
font-weight:bold;
background:#4f9040;
padding:5px 14px;
-webkit-box-shadow:2px 2px 2px 0px rgba(0, 0, 0, 0.3);
-moz-box-shadow:2px 2px 2px 0px rgba(0, 0, 0, 0.3);
box-shadow:2px 2px 2px 0px rgba(0, 0, 0, 0.3);
}
#annotary-toolbar .annotary-button:hover,
#annotary-modal .annotary-button:hover {
color:#ffffff;
background:#4f9040;
}

#annotary-toolbar #annotary-button-delete {
background:#C31C1C;
}

#annotary-toolbar #annotary-button-cancel,
#annotary-modal #annotary-modal-button-cancel {
font-size:14px;
float:left;
margin:5px 15px;
text-decoration:none;
color:#2162B4;
}
#annotary-toolbar #annotary-button-cancel:hover,
#annotary-modal #annotary-modal-button-cancel:hover {
text-decoration:underline !important;
color:#2162B4 !important;
}

#annotary-toolbar #annotary-form-loading {
display:none;
padding-top:8px;
height:20px;
width:100%;
text-align:center;
}

#annotary-toolbar #annotary-button-remove {
font-size:14px;
float:right;
margin:5px 0;
text-decoration:none;
color:#C31C1C;
padding-left:15px;
background-repeat:no-repeat;
}
#annotary-toolbar #annotary-button-remove:hover {
text-decoration:underline !important;
color:#C31C1C !important;
}

#annotary-toolbar #annotary-toolbar-form h3 {
font-size:14px;
font-weight:bold;
margin-bottom:10px;
}

#annotary-toolbar #annotary-toolbar-form p {
margin-bottom:15px;
}

#annotary-toolbar .annotary-menubar,
#annotary-note .annotary-menubar {
position:relative;
height:18px;
width:100%;
background:#555555;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#444444');
background:-webkit-gradient(linear, left top, left bottom, from(#555555), to(#444444));
background:-moz-linear-gradient(top, #555555, #444444);
cursor:move;
border-bottom:1px solid #333;
}

#annotary-toolbar .annotary-menubar-close,
#annotary-note .annotary-menubar-close {
position:absolute;
height:10px;
width:10px;
top:4px;
right:4px;
}

#annotary-toolbar .annotary-toolbar-link {
position:relative;
width:25px;
height:26px;
display:block;
padding:17px 17px;
background-repeat:no-repeat;
background-position:17px 17px;
}
#annotary-toolbar .annotary-toolbar-link:hover {
background-color:#494949;
}

#annotary-toolbar .annotary-toolbar-link.annotary-toolbar-link-on {
background-color:#333;
}
#annotary-toolbar .annotary-toolbar-link.annotary-toolbar-link-on:hover {
background-color:#333;
}

#annotary-toolbar .annotary-toolbar-link span {
position:absolute;
bottom:0;
right:0;
padding:2px 4px;
background:#4f9040;
color:#fff;
font-size:10px;
line-height:10px;
cursor:pointer;
}

#annotary-toolbar .annotary-toolbar-seperator {
border-bottom:1px solid #333;
}

#annotary-note .annotary-autocomplete-container,
#annotary-toolbar .annotary-autocomplete-container {
position:relative;
}

#annotary-note .annotary-autocomplete-container input,
#annotary-toolbar .annotary-autocomplete-container input {
width:100% !important;
}

#annotary-note .annotary-autocomplete,
#annotary-toolbar .annotary-autocomplete {
position:absolute;
top:27px;
left:0;
width:100%;
background:#ffffff;
border:1px solid #888888;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
display:none;
z-index:200;
}

#annotary-note .annotary-autocomplete-item,
#annotary-toolbar .annotary-autocomplete-item {
display:block;
padding:6px;
font-weight:bold;
color:#444444;
cursor:pointer;
text-decoration:none !important;
}

#annotary-note .annotary-autocomplete-item *,
#annotary-toolbar .annotary-autocomplete-item * {
cursor:pointer;
}

#annotary-note .annotary-autocomplete-item.user,
#annotary-toolbar .annotary-autocomplete-item.user {
height:36px;
text-transform:uppercase;
overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis;
}

#annotary-note .annotary-autocomplete-item.user.with-secondary img,
#annotary-toolbar .annotary-autocomplete-item.user.with-secondary img {
float:left;
width:36px;
height:36px;
margin-right:10px;
background:url('https://www.gravatar.com/avatar?s=36&d=mm') #ccc top left no-repeat;
}

#annotary-note .annotary-autocomplete-item.user.with-secondary .name,
#annotary-toolbar .annotary-autocomplete-item.user.with-secondary .name {
display:block;
float:none;
width:75%;
overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis;
color:#444444;
font-weight:bold;
padding-top:2px;
}

#annotary-note .annotary-autocomplete-item.user.with-secondary .secondary,
#annotary-toolbar .annotary-autocomplete-item.user.with-secondary .secondary {
float:left;
width:75%;
color:#999;
overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis;
text-transform:none;
font-weight:normal;
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#annotary-note .annotary-autocomplete-item.collection-option,
#annotary-toolbar .annotary-autocomplete-item.collection-option {
display:table;
width:100%;
line-height:normal;
font-weight:normal;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
}

#annotary-note .annotary-autocomplete-item.collection-option span.icon,
#annotary-toolbar .annotary-autocomplete-item.collection-option span.icon {
display:table-cell;
width:25px;
vertical-align:middle;
text-align:center;
}

#annotary-note .annotary-autocomplete-item.collection-option span.info,
#annotary-toolbar .annotary-autocomplete-item.collection-option span.info {
display:table-cell;
}

#annotary-note .annotary-autocomplete-item.collection-option span.info .owner,
#annotary-toolbar .annotary-autocomplete-item.collection-option span.info .owner {
display:block;
font-size:10px;
color:#999999;
}

#annotary-note {
position:absolute;
z-index:2147483645;
top:20px;
left:20px;
text-align:left;
background:#ffffff;
color:#444444;
border:1px solid #333333;
font:14px Helvetica,Arial,sans-serif;
-webkit-box-shadow:3px 3px 5px 0px rgba(0, 0, 0, 0.3);
-moz-box-shadow:3px 3px 5px 0px rgba(0, 0, 0, 0.3);
box-shadow:3px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

#annotary-note * {
cursor:auto;
font:14px normal Helvetica, Arial, sans-serif;
text-align:left;
margin:0;
padding:0;
border:none;
vertical-align:baseline;
background:transparent;
line-height:1.3em;
color:#444444;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0;
cursor:auto;
}

#annotary-note a {
cursor:pointer;
}

#annotary-note #annotary-note-content,
#annotary-note div.annotary-rich-editor {
display:block;
margin:0 !important;
border:none;
background:#ffffa5;
-webkit-box-shadow:0 0 0 0;
-moz-box-shadow:0 0 0 0;
box-shadow:0 0 0 0;
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0;
padding:6px;
margin:0;
width:188px;
height:140px;
font:14px normal Helvetica,Arial,sans-serif;
color:#444444 !important;
overflow-y:auto;
resize:both;
}

.annotary-highlight-remove {
display:none;
}

.annotary-highlight-remove img {
display:inline !important;
border:none !important;
padding:0 5px !important;
cursor:pointer !important;
margin:0 !important;
float:none !important;
}

.annotary-highlight-note {
display:inline !important;
border:none !important;
padding:0 5px !important;
cursor:pointer !important;
margin:0 !important;
float:none !important;
}

#annotary-highlight-notice {
position:fixed;
top:-5px;
left:-5px;
padding:15px 10px 10px 15px;
background:#ffffa5;
z-index:2147483643;
font-size:14px;
font-family:Helvetica, Arial, sans-serif;
color:#444444;
text-align:center;
-webkit-box-shadow:3px 3px 5px 0px rgba(0, 0, 0, 0.3);
-moz-box-shadow:3px 3px 5px 0px rgba(0, 0, 0, 0.3);
box-shadow:3px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

#annotary-highlight-notice * {
font:14px normal Helvetica, Arial, sans-serif;
text-align:left;
margin:0;
padding:0;
border:none;
vertical-align:baseline;
background:transparent;
line-height:1.3em;
color:#444444;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0;
cursor:auto;
}

#annotary-highlight-notice b {
font-weight:bold;
}

#annotary-highlight-notice a {
cursor:pointer !important;
color:#2162B4 !important;
text-decoration:none !important;
}
#annotary-highlight-notice a:hover {
text-decoration:underline !important;
}

#annotary-toolbar-form #annotary-toolbar-form-heading {
font-weight:bold;
font-size:14px;
line-height:18px;
}

#annotary-toolbar-form #annotary-button-closeform {
position:absolute;
top:10px;
right:10px;
color:#999;
font-size:18px;
line-height:18px;
text-decoration:none;
}

#annotary-toolbar-form .annotary-toolbar-form-tab {
float:left;
padding:5px 10px;
background:#ccc;
margin-right:5px;
color:#444;
margin-bottom:15px;
}

#annotary-toolbar-form .annotary-toolbar-form-tab.annotary-toolbar-form-tab-active {
background:#999;
color:#fff;
}

#annotary-toolbar-form #annotary-no-highlights {
margin:20px 0 0;
}

#annotary-toolbar-form #annotary-goto-bookmark-mode {
color:#2162B4;
text-decoration:none;
}
#annotary-toolbar-form #annotary-goto-bookmark-mode:hover {
text-decoration:underline !important;
}

#annotary-toolbar-form a.annotary-bookmark {
display:block;
margin-top:15px;
cursor:pointer;
}

#annotary-toolbar-form a.annotary-bookmark * {
cursor:pointer;
}

#annotary-toolbar-form a.annotary-bookmark .annotary-bookmark-thumb {
float:left;
margin-right:10px;
width:36px;
height:36px;
}

#annotary-toolbar-form a.annotary-bookmark .annotary-bookmark-info {
float:left;
display:block;
width:215px;
}

#annotary-toolbar-form a.annotary-bookmark .annotary-bookmark-name {
text-transform:uppercase;
font-weight:bold;
display:block;
}

#annotary-toolbar-form a.annotary-bookmark:hover .annotary-bookmark-name {
text-decoration:underline;
}

#annotary-toolbar-form a.annotary-bookmark .annotary-bookmark-highlights {
display:block;
}

#annotary-toolbar-form .annotary-domain-bookmark {
margin-top:15px;
}

#annotary-toolbar-form .annotary-domain-bookmark a:hover {
text-decoration:underline !important;
}

#annotary-toolbar-form .annotary-domain-bookmark a.annotary-bookmark-title {
display:block;
max-height:36px;
overflow:hidden;
}

#annotary-toolbar-form .annotary-domain-bookmark .annotary-domain-bookmark-image {
float:left;
margin-top:3px;
margin-right:10px;
width:50px;
max-height:80px;
overflow:hidden;
}

#annotary-toolbar-form .annotary-domain-bookmark .annotary-domain-bookmark-image img {
width:50px;
}

#annotary-toolbar-form .annotary-domain-bookmark .annotary-domain-bookmark-info {
float:left;
width:190px;
}

#annotary-toolbar-form .annotary-domain-bookmark a {
color:#2162B4;
}

#annotary-toolbar #annotary-toolbar-form #annotary-share-permalink {
background:#cccccc;
margin-top:15px;
margin-bottom:10px;
}

#annotary-toolbar #annotary-toolbar-form a.annotary-social-icon {
margin:0 8px 10px;
cursor:pointer !important;
}
#annotary-toolbar #annotary-toolbar-form a.annotary-social-icon:hover {
opacity:0.8;
}

#annotary-toolbar #annotary-toolbar-form .annotary-center {
text-align:center;
}

#annotary-toolbar #annotary-toolbar-form #annotary-email-clients {
margin-bottom:10px;
}

.ui-tooltip.annotary-ui-tooltip {

/* Clear existing styles */
float:none;
font:14px normal Helvetica, Arial, sans-serif;
text-align:left;
margin:0;
padding:0;
width:auto;
height:auto;
border:none;
vertical-align:baseline;
background:transparent;
line-height:1.3em;
color:#444444;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
-webkit-border-radius:0;
-moz-border-radius:0;
box-sizing:content-box;
-moz-box-sizing:content-box;
-webkit-box-sizing:content-box;
border-radius:0;
cursor:auto;

/* Our styling */
position:absolute;
padding:4px 8px;
background:#444;
color:white;
border-radius:3px;
max-width: 300px;
z-index:2147483647;

}

.annotary-ui-tooltip-arrow .ui-tooltip-content::after {
content:'';
position:absolute;
display:block;
border-style:solid;
width:0;
z-index:2147483647;
}

.annotary-ui-tooltip-arrow.annotary-ui-tooltip-top .ui-tooltip-content::after {
bottom:-7px;
left:50%;
margin-left:-10px;
border-color:#444 transparent;
border-width:10px 10px 0;
}

.annotary-ui-tooltip-arrow.annotary-ui-tooltip-left .ui-tooltip-content::after {
top:50%;
margin-top:-10px;
right:-7px;
border-color:transparent #444;
border-width:10px 0 10px 10px;
}

#annotary-modal {
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:2147483646;
background:rgba(0,0,0,0.5);
}

#annotary-modal .annotary-modal-horizon {
position:absolute;
top:50%;
left:0;
height:1px;
width:100%;
overflow:visible;
}

#annotary-modal .annotary-modal-content {
position:absolute;
top:0;
left:50%;
width:410px;
margin-left:-205px;
background:#eeeeee;
border:1px solid #222222;
box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

#annotary-modal .annotary-modal-content .annotary-modal-header {
background:#333333;
border-bottom:1px solid #222222;
font-family:"myriad-pro", Helvetica, Arial, sans-serif;
font-weight:600;
color:#ffffff;
padding:8px 16px;
text-transform:uppercase;
}

#annotary-modal .annotary-modal-content .annotary-modal-body {
padding:16px 16px 20px 16px;
font-family:"myriad-pro", Helvetica, Arial, sans-serif;
}

#annotary-modal label {
display:block;
font-weight:bold;
font-family:"myriad-pro", Helvetica, Arial, sans-serif;
margin-bottom:5px;
}

#annotary-modal input.annotary-input-text {
min-width:0;
width:100%;
margin-bottom:10px;
height:28px;
padding:6px;
background:#ffffff;
border:1px solid #888888;
box-shadow:inset 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
font:14px normal Helvetica,Arial,sans-serif;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
}

#annotary-modal textarea {
min-width:0;
width:100%;
margin-bottom:10px;
resize:none;
padding:6px;
background:#ffffff;
border:1px solid #888888;
box-shadow:inset 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
font:14px normal Helvetica,Arial,sans-serif;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
}

#annotary-modal table.annotary-radio-block {
margin-bottom:10px;
}

#annotary-modal table.annotary-radio-block td {
padding:10px 10px 5px 0;
vertical-align:middle;
}

#annotary-modal table.annotary-radio-block td label {
cursor:default;
margin-bottom:0;
}

#annotary-modal table.annotary-radio-block td label img {
position:relative;
vertical-align:middle;
top:-2px;
}

#annotary-modal table.annotary-radio-block td label .annotary-desc {
font-size:12px;
color:#999999;
font-weight:normal;
display:block;
line-height:1.2em;
margin-top:2px;
cursor:default;
}

#annotary-modal .annotary-button {
margin:10px 0 20px 0;
}

#annotary-modal #annotary-modal-button-cancel {
margin-top:15px;
}

#annotary-modal #annotary-modal-loading {
display:none;
padding-top:10px;
height:28px;
width:100%;
text-align:center;
}

/* Hide content on annotary bookmark page until redirect */
#annotary-bookmark-header {
display:none !important;
}

#annotary-bookmark-content {
display:none !important;
}

#annotary-bookmark-header.force-show,
#annotary-bookmark-content.force-show {
display:block !important;
}

@media print {

  #annotary-toolbar,
  #annotary-note,
  .annotary-highlight-note,
  .annotary-highlight-remove {
  display: none !important;
  }

}

@media screen and (max-width:700px) {

  #annotary-toolbar,
  #annotary-note,
  .annotary-highlight-note,
  .annotary-highlight-remove {
  display: none !important;
  }

}
